fastapi
uvicorn
streamlit
requests

langchain
langchain-core
langchain-community
langchain-huggingface
langchain-chroma
langgraph

chromadb
sentence-transformers
huggingface-hub

GitPython
python-dotenv